.App {
  text-align: center;
}

body {
  background: black;
}

div {
  background: silver;
}

h5 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: limegreen;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  
}

a:hover {
  background-color: dimgray;
}

h1{
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUOjIg1_i6t8kCHKm459WxZqh7p29NfpiOjk20.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-size: 60px;
  
}
footer{
  position: absolute;
  bottom: 0;
  width:100%;
  border: none;
  background-size: 300px 100px;
   
}
footer img{
  width: 500px;
  height: 300px;

}


